---
services:
  bot:
    build: ./bot
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    env_file:
      - .env

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
